.contact-button-group{
	margin-bottom:10px;
}

.contact-button{
	margin-right:10px;
}

.alert{
	padding: 0px 10px 0px 10px;
	margin:0px;
}

.row-selected-count{
	margin-right:10px;
}

.row-selected-count, .row-added-count{
	line-height:32px;
}

.table-column-name{
	width:330px;	
}

.table-column-address{
}

.table-column-number{
	width:150px;
}

.table-column-email{
	width:220px;
}
