.contact-button{
	margin-right:10px;
	margin-bottom:10px;
}

.table-column-name{
	width:330px;	
}

.table-column-address{
}

.table-column-number{
	width:150px;
}

.table-column-email{
	width:220px;
}
