.schedule-button-group{
	margin-bottom:10px;
}

.schedule-button{
	margin-right:10px;
}

.alert{
	padding: 0px 10px 0px 10px;
	margin:0px;
}

.row-selected-count{
	margin-right:10px;
}

.row-selected-count, .row-added-count{
	line-height:32px;
}

.date-selector{
	width:160px;
	margin:0 auto 0 auto;
}

.date-selector-selected{
	line-height:34px;
	font-size:18px;
	font-weight:bold;
}

#calendar{
	width:80%;
}