<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/it2299_ffth_reincoast</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.search.default.directory_provider">filesystem</property> 
		<property name="hibernate.search.default.indexBase">/tmp/hibernate-search-indexes"</property>
		
		<mapping class="com.it2299.ffth.reincoast.dto.Product" />
		<mapping class="com.it2299.ffth.reincoast.dto.ProductMeta" />
		<mapping class="com.it2299.ffth.reincoast.dto.InboundLineItem" />
		<mapping class="com.it2299.ffth.reincoast.dto.OutboundLineItem" />
		<mapping class="com.it2299.ffth.reincoast.dto.InboundDelivery" />
		<mapping class="com.it2299.ffth.reincoast.dto.OutboundDelivery" />
		<mapping class="com.it2299.ffth.reincoast.dto.AuditDelivery" />
		<mapping class="com.it2299.ffth.reincoast.dto.Member" />
		<mapping class="com.it2299.ffth.reincoast.dto.Packing" />
		<mapping class="com.it2299.ffth.reincoast.dto.PackingLineItem" />

		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-insert"/>
    	<listener class="org.hibernate.envers.event.AuditEventListener" type="post-update"/>
    	<listener class="org.hibernate.envers.event.AuditEventListener" type="post-delete"/>
   	 	<listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-update"/>
   	 	<listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-remove"/>
    	<listener class="org.hibernate.envers.event.AuditEventListener" type="post-collection-recreate"/>
	</session-factory>
</hibernate-configuration>
